<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Award type</th>
      <th>Award number</th>
      <th>Cor</th>
      <th>Contact</th>
      <th>Evaluation date</th>
      <th>Activity partner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.name %></td>
        <td><%= evaluation.award_type %></td>
        <td><%= evaluation.award_number %></td>
        <td><%= evaluation.cor %></td>
        <td><%= evaluation.contact %></td>
        <td><%= evaluation.evaluation_date %></td>
        <td><%= evaluation.activity_partner %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
