<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evaluation.name %>
</p>

<p>
  <strong>Award type:</strong>
  <%= @evaluation.award_type %>
</p>

<p>
  <strong>Award number:</strong>
  <%= @evaluation.award_number %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @evaluation.cor %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @evaluation.contact %>
</p>

<p>
  <strong>Evaluation date:</strong>
  <%= @evaluation.evaluation_date %>
</p>

<p>
  <strong>Activity partner:</strong>
  <%= @evaluation.activity_partner %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
