<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @recommendation.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recommendation.status %>
</p>

<p>
  <strong>Mission response:</strong>
  <%= @recommendation.mission_response %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @recommendation.comments %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
