<p id="notice"><%= notice %></p>

<h1>Assign Logs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Evaluation</th>
      <th>Recommendation</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assign_logs.each do |assign_log| %>
      <tr>
        <td><%= assign_log.user_id %></td>
        <td><%= assign_log.evaluation_id %></td>
        <td><%= assign_log.recommendation_id %></td>
        <td><%= assign_log.action_id %></td>
        <td><%= link_to 'Show', assign_log %></td>
        <td><%= link_to 'Edit', edit_assign_log_path(assign_log) %></td>
        <td><%= link_to 'Destroy', assign_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assign Log', new_assign_log_path %>
