<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @assign_log.user_id %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @assign_log.evaluation_id %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @assign_log.recommendation_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @assign_log.action_id %>
</p>

<%= link_to 'Edit', edit_assign_log_path(@assign_log) %> |
<%= link_to 'Back', assign_logs_path %>
